{% extends 'base.html' %}

{% block content %}
    {% if settings_dict.wk_type == 'mannschaft' %}
        <h1>Mannschaften</h1>
    {% else %}
        <h1>Riegen</h1>
    {% endif %}
    <!-- Riegen-Tabs-->
    {% if riegen %}
        <div class="tabs" id="riegen-tabs" hx-target="#tabs-content" hx-swap="innerHTML" _="on htmx:afterOnLoad take .active for event.target">
            {% for riege in riegen %}
                <a hx-get="{% url 'grading:riegen' %}?riege={{ riege }}" id ="{{ riege }}" class="tab {% if riege == selected_riege %}active{% endif %}">{% if settings_dict.wk_type == 'einzel' %} Riege {% endif %} {{ riege }}</a>
            {% endfor %}
        </div>
        <div id="tabs-content">
            {% include 'grading/riegen_entry.html' %}
        </div>
    {% else %}
        <p>Keine {% if settings_dict.wk_type == 'mannschaft' %}Mannschaften{% else %}Riegen{% endif %} vorhanden, die bewertet werden dürfen.</p>
    {% endif %}
    
{% endblock content %}

{% block extra_js %}
    <script rel="text/javascript" language="javascript">
        window.onload = function() {
            const activeTab = document.querySelector("#riegen-tabs .active");
            if (activeTab==null) {
                const firstTab = document.getElementById("{{ selected_riege }}");
                if (firstTab) {
                    firstTab.click();
                }
            }
        };
        // Nach 10 Sekunden den Tab neu laden, um die Ergebnisse zu aktualisieren
        setInterval(function() {
            const activeTab = document.querySelector("#riegen-tabs .active");
            if (activeTab) {
                activeTab.click();
            }
        }, 10000);
    </script>
{% endblock extra_js %}