<settings>
    <wk_title>Ger&#228;tturnen-Einzelmeisterschaften weiblich 2026</wk_title>
    <wk_type>einzel</wk_type>
    <database1>
        <name>gt_einzel_w2026</name>
        <user>root</user>
        <password>tgsn1862</password>
        <host>localhost</host>
        <port>3306</port>
    </database1>
    <database2>
        <name />
        <user />
        <password />
        <host />
        <port />
    </database2>
</settings>